# Data Analyse

If you want to do your own analyse of the data on `db.sqlite3` and are going to use Python you can take advantage of some Django code. This Jupyter Notebook will help you to enable the Django code.

## Setup and run

To setup your environment to run this Jupyter notebook you need to install some packages. Our suggestion is to run

~~~
$ python -m pip install -r requirements.txt
$ python -m pip install -r requirements-jupyter.txt
~~~

from your terminal.

To start Jupyter server, run

~~~
$ python manage.py shell_plus --notebook
~~~

## Basic (Django Part)

You can use all power of Django on the notebook. For example, to gain access to the models you can use

In [7]:
import lowfat.models as models

To select all the fellows you can use

In [9]:
fellows = models.Claimant.objects.filter(selected=True)
fellows

Remember that the `Claimant` table can have entries that aren't fellows and because of it we need to use `.filter(selected=True)`.

## Basic (Pandas Part)

You can use Pandas with Django.

In [10]:
import pandas as pd

pd.DataFrame(list(fellows.values()))

,added,affiliation,application_year,claimantship_grant,data_carpentry_instructor,email,facebook,forenames,funding,funding_notes,...,selected,slug,software_carpentry_instructor,surname,twitter,updated,user_id,website,website_feed,work_description
0,2016-07-07 14:59:46.412,College,2016,3000.00,False,b.widow@averengers.com,BlackWidow,Black,AHRC,,...,True,black-widow,False,Widow,BlackWidow,2016-09-01 12:38:05.280,3,http://black-widow.fake/,http://black-widow.fake/feed/,Work.
1,2016-07-07 14:59:46.412,University,2016,3000.00,False,t.hulk@averengers.com,TheHulk,The,EPSRC,,...,True,the-hulk,False,Hulk,TheHulk,2016-09-01 12:37:56.052,2,http://the-hulk.fake/,http://the-hulk.fake/feed/,Work
2,2016-07-07 14:59:46.412,University,2015,3000.00,False,g.arrow@averengers.com,GreenArrow,Green,EPSRC,,...,True,green-arrow,False,Arrow,GreenArrow,2016-09-01 12:36:54.323,4,http://green-arrow.fake/,http://green-arrow.fake/feed/,Work
3,2016-07-07 14:59:46.412,University,2015,3000.00,False,i.man@averengers.com,IronMan,Iron,EPSRC,,...,True,iron-man,False,Man,IronMan,2016-09-01 12:37:20.275,5,http://iron-man.fake/,http://iron-man.fake/feed/,Tech
4,2016-07-07 14:59:46.412,College,2014,3000.00,False,c.america@averengers.com,CaptainAmerica,Captain,Self-funded,,...,True,captain-america,False,America,CaptainAmerica,2016-09-01 12:37:41.559,6,http://captain-america.fake/,http://captain-america.fake/feed/,Work

When converting a Django `QuerySet` into a Pandas `DataFrame` you will need to as the previous example because so far Pandas can't process Django `QuerySet`s by default.